<link rel="import" href="../../../polymer/polymer.html">
<link rel="import" href="../../../d2l-typography/d2l-typography-shared-styles.html">

<dom-module id="d2l-profile-image-shared-styles">
	<template strip-whitespace>
		<style>
			:host {
				--d2l-icon-height: 100%;
				--d2l-icon-width: 100%;
			}

			:host([loading]) {
				opacity: 0;
			}

			:host(:not([small]):not([medium]):not([large]):not([x-large])) {
				display: none;
			}

			:host([small]) {
				--d2l-profile-image-border-radius: 4px;
				--d2l-profile-image-size: 30px;
				@apply --d2l-label-text;
				margin: 0;
			}

			:host([medium]) {
				--d2l-profile-image-border-radius: 6px;
				--d2l-profile-image-size: 42px;
				@apply --d2l-heading-4;
				margin: 0;
			}

			:host([large]) {
				--d2l-profile-image-border-radius: 8px;
				--d2l-profile-image-size: 60px;
				@apply --d2l-heading-3;
				margin: 0;
			}

			:host([x-large]) {
				--d2l-profile-image-border-radius: 8px;
				--d2l-profile-image-size: 84px;
				@apply --d2l-heading-2;
				margin: 0;
			}
		</style>
	</template>
</dom-module>
